.tags-input-container {

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    display: flex;
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}
.description{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
    display:flex;
}
.desDiv{
    display:flex;
}
.submitPlant{
    width: 100%;
    margin-bottom:20px;
    height: 50px;
        border: 2px solid #EA5A4E;
        border-radius: 10px;
        top: 658px;
    left: 656px;
    
    height: 45px;
    /* UI Properties */
    border: 2px solid var(--unnamed-color-ea5a4e);
    border: 2px solid #EA5A4E;
    border-radius: 10px;
    opacity: 1;
    text-transform: uppercase;
    color:#EA5A4E;
    background-color:white;
    margin-top:3%;
}
.submitPlant:hover{
    background-color:#EA5A4E;
    color:white;
}

.tag-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.tag-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.tags-input {
    flex-grow: 1;
    /* padding: .5em 0; */
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* border: 1px solid var(--unnamed-color-f8c9bb); */
    /* border: 1px solid #F8C9BB; */
    border-radius: 10px;
    opacity: 1;
    
}

/* //////////////////////plant type////////////////////////// */
.plantType {

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    display: flex;
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}

.planttype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.planttype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.planttype-input {
    flex-grow: 1;
    /* padding: .5em 0; */
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* border: 1px solid var(--unnamed-color-f8c9bb); */
    /* border: 1px solid #F8C9BB; */
    border-radius: 10px;
    opacity: 1;
}

/* ////////////////////////////////////////////////////////////////// */
.colorType {

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    display: flex;
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}

.colortype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.colortype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.colortype-input {
    flex-grow: 1;
    /* padding: .5em 0; */
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* border: 1px solid var(--unnamed-color-f8c9bb); */
    /* border: 1px solid #F8C9BB; */
    border-radius: 10px;
    opacity: 1;
}

/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */
.seasonType {

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    display: flex;
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}

.seasontype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.seasontype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.seasontype-input {
    flex-grow: 1;
    /* padding: .5em 0; */
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* border: 1px solid var(--unnamed-color-f8c9bb); */
    /* border: 1px solid #F8C9BB; */
    border-radius: 10px;
    opacity: 1;
}

/* ////////////////////////////////////////////////////////////////// */
.formType {

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    display: flex;
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}

.formtype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.formtype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.formtype-input {
    flex-grow: 1;
    /* padding: .5em 0; */
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* border: 1px solid var(--unnamed-color-f8c9bb); */
    /* border: 1px solid #F8C9BB; */
    border-radius: 10px;
    opacity: 1;
}

/* ////////////////////////////////////////////////////////////////// */
.textureType {

    width: 100%;
    margin-bottom: 20px;
    display: flex;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}

.texturetype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.texturetype-item .close {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.texturetype-input {
    flex-grow: 1;
    /* padding: .5em 0; */
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* border: 1px solid var(--unnamed-color-f8c9bb); */
    /* border: 1px solid #F8C9BB; */
    border-radius: 10px;
    opacity: 1;
}
.discContent{
    text-align: center;
    margin-top: 2rem;
    margin-left: 20px;
    width: 496px;
    height: 80px;
    color: #6B6B6B;
    /* margin: auto;*/
}
.disHeading{
    margin-top: 150px;
    text-align: center;
    color: #164C4C;
}
.disContentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 35%;
    margin-top: 2rem;
    width: 500px;
}
.centerImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ////////////////////////////////////////////////////////////////// */
.plantNameInput{

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;

}

.scientificNameInput{

    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
}
/* ////////////////////////////////////////////////////////////////// */

.formAddDiscovery{
    border: solid 0.3px #164C4C ;
    width: 1280px;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.addDiscoveryPageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addDiscoveryFormItems{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addDiscoveryFormItems1{
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* /////////////////////////////////////////////////////////// */
.descriptionPlant{
    width: 1180px;
    height: 160px;
    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    margin-top: 10px;
}

.addDiscoveryPageHeading{
    font-family: 'Merriweather', serif;
    margin-top: 80px;
    font-weight: 300;
    color: #164C4C;
}
.addDiscoveryPageParagraph{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: #6B6B6B;
}
@media screen and (max-width: 600px)  {

    .disContentDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 0px;
        margin-top: opx; 
         width: 0px;
}
.discContent {
    text-align: center;
    margin-top: 2rem;
     margin-left: 0px; 
    width: 496px;
    height: 80px;
    color: #6B6B6B;
    margin: auto;
}}