.tags-input-container {

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 550px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.tag-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.tag-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.tags-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

/* //////////////////////plant type////////////////////////// */
.plantType {

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 550px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.planttype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.planttype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.planttype-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

/* ////////////////////////////////////////////////////////////////// */
.colorType {

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 550px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.colortype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.colortype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.colortype-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */
.seasonType {

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 550px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.seasontype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.seasontype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.seasontype-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

/* ////////////////////////////////////////////////////////////////// */
.formType {

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 550px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.formtype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.formtype-item .close {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.formtype-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

/* ////////////////////////////////////////////////////////////////// */
.textureType {

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 550px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.texturetype-item {
    background-color: #F8C9BB;
    border: 1px solid #F8C9BB;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.texturetype-item .close {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18;
}


.texturetype-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

/* ////////////////////////////////////////////////////////////////// */
.plantNameInput{

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 1180px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;

}

.scientificNameInput{

    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    height: 40px;
    width: 1180px;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}
/* ////////////////////////////////////////////////////////////////// */

.formAddDiscovery{
    border: solid 0.3px #164C4C ;
    width: 1280px;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.addDiscoveryPageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addDiscoveryFormItems{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addDiscoveryFormItems1{
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* /////////////////////////////////////////////////////////// */
.descriptionPlant{
    width: 1180px;
    height: 160px;
    border: 1px solid #EA5A4E;
    padding: .5em;
    border-radius: 10px;
    margin-top: 10px;
}

.addDiscoveryPageHeading{
    font-family: 'Merriweather', serif;
    margin-top: 80px;
    font-weight: 300;
    color: #164C4C;
}
.addDiscoveryPageParagraph{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: #6B6B6B;
}