body{
    margin: 0px;
}

.homeHeader{
    background-color: #F1ECEB;
    height: 800px;
    background-image: url(../images/top-banner-BG-Desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* ////////////////////////////Navigation Bar/////////////////////////////////////// */
.navBar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #F1ECEB;
}

.headerUl{
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
    list-style-type: none;
}

.headerUl li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.headerUl li a{
    font-family: 'Rubik';
    font-weight: lighter;
    display: block;
    text-decoration: none;
    Line-height: 40px;
    font-size: 16px;
    
}
.profileNav{
    margin-right: 60px;
    color: #6B6B6B;
}


.aboutLogNav{
    color: #6B6B6B;
}
.headerUl ul{
position: absolute;
left: -15px;
display: none;
width: 150px;
background-color: white;
border: solid 0.1px #164C4C ;
color: #6B6B6B;
}

.headerUl ul a{
    color: #6B6B6B;
    }

.headerUl li:hover> ul{
    display: flex;
    flex-direction: column;
}
.headerUlLine{
    left: -25px;
    border-bottom: solid 0.5px #6B6B6B;
    opacity: 0.2;
}
.headerUl ul li{
        width: 110px;
        left: 16px;
        float: none;
        display: List-item;
        position: relative;
        color: #6B6B6B;
}
.headerUl ul li a{
    color: #6B6B6B;
}
.fa-caret-down:hover{
    transform: rotate(180deg);
}

#menu-bar{
    display: none;
}

.headerCheckboxLabel{
    cursor: pointer;
    display:none;
}

.headerLogo{
    margin-left: 40px;
    width: 92px;
    height: 87px;
}
.aboutNav{

    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
}
.loginNav a{

    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
}
.headerText{
    text-align: center;
    width: 100%;
    height:400px;
    margin-top: 150px;
}
.headerTextHeading{
font-size: 67px;
color: #164C4C;
font-family: 'Merriweather';
font-weight: 300;
font-weight: lighter;
}
.headerTextPara{
  font-size: 16px;
  font-family: 'Rubik';
  font-weight: lighter;
  color: #6B6B6B;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
.headerGridDiv{
display: flex;
flex-direction: column;

}
/*/////////////////////////////Search bar//////////////////////////////////////////  */
.searchBarHome .inputSearch{
    border: 0;
    outline: none;
    border-radius: 10px;

}


.searchBarHome{
    margin: auto;
    position: relative;
    width: 1034px;
    height: 70px;
    margin-top: -60px;
}

.inputSearch::placeholder{
    font-family: 'Font Awesome 5 Free';
    font-weight: lighter;
    font-family: 'Rubik';
    font-size: 16px;

}
.inputSearch{

    font-size: larger;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btnHome{
    position: absolute;
    top: 0;
    right: -4px;
    width: 90px;
    height: 70px;
    background-color: #164C4C;
    z-index: 1;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btnHome.btn_common .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.searchIconImg{
    color: #FFFFFF;
}

.filterBottomMobileLine {
    display: none;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.accordion_buttonHome {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 1034px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #FFFFFF;
    color: #164C4C;
    text-align: center;
    transition: background 0.2s;
    opacity: 0.5;
    font-family: 'Rubik';
    font-weight: 500;
    }

    .accordion_buttonHome::after{
        content: '\25be';
        float: right;
        transform: scale(1.5);
        }
        .accordion_buttonHome--active{
            background:  #FFFFFF;
            opacity: 1;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-left: solid #0d3f3f 0.5px ;
            border-right: solid #0d3f3f 0.5px ;
            border-top: solid #0d3f3f 0.5px ;
        }

        .accordion_buttonHome--active::after{content: '\25b4'}

        .accordion_contentHome{
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.2s ;
        width: 1033px;
        margin: auto;
        background: #FFFFFF; 
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 1;
        border-left: solid #0d3f3f 0.5px ;
        border-right: solid #0d3f3f 0.5px ;
        position: relative;
        z-index: 100;
        display: block;

        
        }
        .header_background{
            height: 900px;
        }
/* ///////////////////////////////////////////////////////////////////////////////// */
/*////////////////////////////////////Filter Content////////////////////////////////*/
.filterSectionOne{
    position: relative;
    padding-top: 60px;
    
}
.filterSectionTwo{
    position: relative;
   
   
}
.filterSectionThree{
    position: relative;
   
   
}
.filterSectionFour{
    position: relative;
    
   
}
.filterSectionFive{
    position: relative;

   
}
.filterSectionSix{
    position: relative;
  
   
}
.filterP{
    margin-left: 40px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: bold;
    border: 0;
    color: #0d3f3f;

}

.filterUl{
    position: relative;
    font-family: 'Rubik';
    top: 20px;
    left: 40px;
    display: flex;
    list-style-type: none;
}
.filterLi{
    margin-right: 10px;
}

.filterDiv{
    width: 780px;
    position: relative;
    font-family: 'Rubik';
    top: -75px;
    left: 200px;
}

.filterBtns{
    text-align: center;
    appearance: none;
    background: none;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    border: solid #EA5A4E 2px;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Rubik';
}


.filterBtnsSelected {
    background-color: #EA5A4E;
    color: white;
}

.filterClear{
    text-align: center;
    color: #0d3f3f;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik';
    font-weight: bolder;

}
.filterApply{
    text-align: center;
    color: #0d3f3f;
    appearance: none;
    background: none;
    border: solid #0d3f3f 2px;
    outline: none;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik';
    font-weight: bolder;
}
.clearApply{
    position: relative;
    align-items: center;
    top: -50px;
    left: 35%;
}
/*///////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////firstSection///////////////////////////////////////// */

.firstSection{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.firstSectionFirstCard{
    width: 370px; 
    margin-right: 50px; 
    margin-left: 50px;
    font-family: 'Merriweather';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstSectionFirstCardimg{
    width: 300px;
    height: 200px;
    margin-bottom: 80px;
}
.firstSectionSecondCard{
    width: 370px;  
    margin-right: 50px; 
    margin-left: 50px;
    font-family: 'Merriweather';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstSectionSecondCardimg{ 
    width: 300px;
    height: 200px;
    margin-bottom: 80px;

}
.firstSectionThirdCard{
    width: 410px;   
    margin-left: 50px;
    margin-right: 80px;
    font-family: 'Merriweather';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstSectionThirdCardimg{
    width: 300px;
    height: 200px;
    margin-bottom: 80px;

}

.firstSectionParagraph{
    font-size: 16px;
    margin: 10px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-align: center;
}
.firstSectionHeadings{
    font-size: 40px;
    margin:3px;
    font-family: 'Merriweather';
    font-weight: 300;
    color: #164C4C;
}
/* //////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////Second Section////////////////////////////////////// */
.secondSection{
    margin-top: 100px;
}
.secondSectionCard{
    display: flex;
    justify-content: center;
}
.secondSection{
    margin-top: 100px;
    margin-bottom: 100px;
}

.secondSecImg img{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 524px;
    height: 434px;
    border-radius: 10px;
    object-fit: cover;
}

.secondHomeSectionCard{
    margin: auto;
    height: 390px;
    background-color: #F1ECEB;
    width: 1280px;
    height: 575px;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.secondSectionHeadings{
    font-size: 40px;
    margin:3px;
    font-family: 'Merriweather';
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 10px;
    color: #164C4C;
}

.plantInfo h3{
    position: absolute;
    top: 70px;
    left: 650px;
    color: #164C4C;
    font-family: 'Merriweather';
    font-weight: 300;
}
.plantHomeDescriptionMain{
    position: absolute;
    top: 140px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.plantHomeDescItems1{
    position: absolute;
    top: 200px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantHomeDescItems2{
    position: absolute;
    top: 200px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantHomeDescItems3{
    position: absolute;
    top: 260px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantHomeDescItems4{
    position: absolute;
    top: 260px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantHomeDescItems5{
    position: absolute;
    top: 320px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantHomeDescItems6{
    position: absolute;
    top: 320px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.secondHomeSectionBtn{
    position: absolute;
    top: 445px;
    left: 650px;
    color: #EA5A4E;
    appearance: none;
    background: none;
    border: solid #EA5A4E 2px;
    outline: none;
    width: 223px;
    height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik';
}
.userIconImg{
    margin-right: 3px;
}

.plantDayLeafBtn{
    position: absolute;
    top: 450px;
    left: 900px;
}
.plantDescItemsHeading{
    margin-bottom: 5px;  
    font-size: 16px;
    color: #164C4C;
    font-weight: bold;
}

h3{
    font-size: 28px;
    margin-top: 0px;
}

.plantDescItemsPara{
    margin-top: 5px;
}

.cardWavyLineHome{
    display: none;
}
/* /////////////////////////////////////////////////////////////////////////// */


/* /////////////////////////////third section///////////////////////////////// */

.thirdSection{
    margin-top: 100px;
    margin-bottom: 140px;
}
.thirdSectionContent{
    text-align: center;
    margin-bottom: 50px;
}
.thirdSectionContent p{
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-top: 20px;
}
.thirdSectionHeading{
    font-size: 40px;
    color: #164C4C;
    font-family: 'Merriweather';
    font-weight: 300;
}
.thirdSectionCardList{
    display: flex;
    flex-direction: column;
    width: 308px;
    height: 479px;
    align-items: center;
    justify-content: center;
    border: solid #7D9990 1px;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
}
.thirdSectionCards{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.thirdSectionCardsInner{

    width: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;

}
.thirdSectionCardMainImage{
    object-fit: cover;

    width: 276px;
    height: 229px;
    position: relative;
    top: -30px;
    left: -16px;
    border-radius: 10px;

}

.searchResultNameDesc{
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.thirdSectionCardsInner h3{
    color: #164C4C;
    font-family: 'Merriweather';
    font-weight: 300;
}
.thirdSectionCardsInner p{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: center;
    font-weight: lighter;
    color: #6B6B6B;
    margin-top: 15px;
}
.searchResultCardButtons{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
}
.homeThirdSecDetailsButton{
    text-align: center;
    /* position: absolute;
    top:405px; */
    color: #EA5A4E;
    appearance: none;
    background: none;
    border: solid #EA5A4E 2px;
    outline: none;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-size: medium;


}
/*****************************************************/
/*********************** chart Div********************************/
.chartDiv{
    width: 40%;
        display: flex;
        height: 27%;
        justify-content: center;
        align-items: center;
        align-content: center;}
        /******************************************************************/
        /*********************** chart Size********************************/
        .chartSize{
            display: flex;
        place-content: center;
        height: 284px;
        width: 284px;
        margin-left:35%;
        }
        /*********************** *****************************/
        /****************************************************/
.homeThirdSecDetailsButton:hover{
    text-align: center;
    /* position: absolute;
    top:405px; */
    color: white;
    appearance: none;
    background-color: #EA5A4E;
    border: solid #EA5A4E 2px;
    outline: none;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-size: medium;

}

.libButton{
    text-align: center;
    /* position: absolute;
    top:418px;
    left: 220px; */
    appearance: none;
    background: none;
    outline: none;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    border: solid #EA5A4E 0px;
    margin-left: 20px;

}

.cardWavyLine{
    margin-top: 15px;
}
/* /////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////footer////////////////////////////////////////// */
footer{
    background-color: #164C4C;
    height: 267.11px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.footerFirstDiv{
    height: 267.11px;
    height: 267.11px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo  university"
    "descript descript"
    "underlin underlin"
    "fspo fspt";
    
}
.footerLogo{
    width: 114.39px;
    height: 108.33px;
    /* position: absolute;
    right:87%;
    top: 45px; */
}
.footerUni{
    color: white;
    /* position: absolute;
    right:3%;
    top: 39px; */
    
}

.footerUni p{
text-align: center;
margin-top: 15px;
}

.footerUniLogo{
    /* position: relative;
    right: -20px; */
}

.footerSecondPone{
    /* position: absolute;
    top: 235px;
    left:88px; */
    color: white;
    grid-area: fspo;
    margin-left: 20%;

}
.footerSecondPtwo{
    /* position: absolute; */
    grid-area: fspt;
    margin-left: 45%;
/*    
    right:4%;
    top: 235px; */
    color: white;
}
.footerLogoDiv{
    
    grid-area: logo;
    margin-left: 20%;
    margin-top: 20px;

}

.footerUniDiv{
  text-align: center;
  grid-area: university;
  margin-top: 20px;
  margin-left: 30%;
}
.line{
    /* position: absolute; */
    height: 0.5px;
    width: 100%;
    background-color: #7D9990;
    grid-area: underlin;
    /* top: 215px; */
}
.logoCap{
    /* position: absolute;
    width: fit-content;
    right:56%;
    top: 180px; */
    margin-bottom: 20px;
    color: white;
    grid-area: descript;
    margin-left: 10%;
    margin-top: 40px;
    /* left: 85px; */
}
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
.bg-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}
.modalContent{
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
}



/* ///////////////////////////////////////////////////modal inside///////////////////////////////////////////// */
.modalFourm{
    position: relative;
    border: 1px solid dark;
    
}


p.forgotPassword {

    position: absolute;
    top: 410px;
    left: 289px;

}

p.newFlorens {
    position: absolute;
    top: 530px;
    left: 220px;
}



.formCloseBtn{
    position: absolute;
    top: -10px;
    left:620px;
    font-size: 50px;
    transform: rotate(45deg);
    color: #164C4C;

    appearance: none;
    background: none;
    outline: none;
    font-size: 60px;
    font-family: 'Rubik';
    border: none;
}
.formheading{
    position: absolute;
    top: 70px;
    left:140px;
    font-size: 32px;
    color: #164C4C;
    font-family: 'Merriweather', serif;
}

.formParagraph{
    position: absolute;
    top: 120px;
    left:210px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.formLabelEmail{
    position: absolute;
    top: 180px;
    left:40px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.formInputEmail{
    position: absolute;
    top: 220px;
    left:40px;
    height: 50px;
    width: 600px;
    border-radius:  10px;
    border:solid #EA5A4E 0.5px;
}

.formLabelPassword{
    position: absolute;
    top: 300px;
    left:40px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.formInputPassword{
    position: absolute;
    top: 340px;
    left:40px;
    height: 50px;
    width: 600px;
    border-radius: 10px;
    border:solid #EA5A4E 0.5px;
}
 

.forgotPasswordModal{
    position: absolute;
    top: 390px;
    left:40px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.formSubmit{
    position: absolute;
    top: 480px;
    left:40px;
    text-align: center;
    color: #EA5A4E;
    appearance: none;
    background: none;
    border: solid #EA5A4E 2px;
    outline: none;
    width: 600px;
    height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Rubik';
}

.newFlorensModal{
    position: absolute;
    top: 520px;
    left:190px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


@media(max-width:600px){

/* ///////////////////////////Header/////////////////////////////////// */
    
    .navBar{
        background-color: #F1ECEB;
        height: 100px;
       
    }

    .headerCheckboxLabel{
        cursor: pointer;
        display:initial;
    }
    .headerUl{
        position: absolute;
        top: 100%;
        background-color: #FFFFFF;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        display: none;
    }

    .profileNav {
        margin-right: 0px;
        color: #6B6B6B;
        margin-top: 25px;
    }

    .headerUl ul{

        left: 0px;
        display: none;
        width: auto;
        background-color: white;
        border: solid 0.1px white;
        color: #6B6B6B;
        
    }

    .headerUl li:hover> ul{
        display: block;
        margin-left: -40px;
    }

    .headerUl ul li {
        width: 100vw;
        left: 40px;
        text-align: center;
        float: none;
        display: List-item;
        position: relative;
        color: #6B6B6B;
    }

    .headerUl li {
        position: relative;
        list-style: none;
        display: inline-block;
        margin-right: 0px;
    }


    .aboutLogNav {
        color: #6B6B6B;
        margin-top: 50px;
    }
    
    
    .headerUlLine {
display: none;
border-bottom: solid 0px #6B6B6B;
    opacity: 0;
    }


    .userIconImg {
       display: none;
    }

    .headerUl li ul{
        position: relative;   
    }

    .headerUl li ul li{
        position: relative;   
        margin-top: 10px;
        background-color: #F1ECEB;
    }

    .headerUl li a {
        font-family: 'Rubik';
        font-weight: lighter;
        display: block;
        text-decoration: none;
        Line-height: 40px;
        font-size: 16px;
        width: 100vw;
        text-align: center;
    }

    #menu-bar:checked ~ .headerUl{
        display: block;
    }

    #menu-bar:checked ~ .navBar{
        background-color: white;
    }

    /* /////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////// 
    /* //////////////////////////Second Section/////////////////////// */
    .secondSection{
        background-color: #F1ECEB;
        height: 640px;
    }

    .secondSectionHeadings {
        position: relative;
        top: 30px;
    }
    .secondHomeSectionCard {
        margin: auto;
        height: 390px;
        background-color: #FFFFFF;
        width: 310px;
        height: 479px;
        position: relative;
        top: 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .secondSecImg img {
        position: relative;
        top: -40px;
        left: 0px;
        width: 270px;
        height: 230px;
        border-radius: 10px;
    }

    .plantInfo h3 {
        position: relative;
        top: -20px;
        left: 0px;
        text-align: center;
        color: #164C4C;
        font-family: 'Merriweather';
        font-weight: 300;
    }

    .plantHomeDescriptionMain {
        position: relative;
        top: 10px;
        left: 0px;
        text-align: center;
        font-family: 'Rubik';
        font-weight: lighter;
        color: #6B6B6B;
    }
    .cacc{
        cursor:pointer;
    }
    .secondHomeSectionBtn {
        position: relative;
        top: 45px;
        left: -24px;
        color: #EA5A4E;
        appearance: none;
        background: none;
        border: solid #EA5A4E 2px;
        outline: none;
        width: 223px;
        height: 45px;
        border-radius: 10px;
        font-size: 13px;
        font-family: 'Rubik';
    }
    .plantDayLeafBtn {
        position: relative;
        top: 8px;
        left: 120px;
    }

    .plantHomeDescItems1 {
        display: none;;
    }
    .plantHomeDescItems2 {
        display: none;;
    }
    .plantHomeDescItems3 {
        display: none;;
    }
    .plantHomeDescItems4 {
        display: none;;
    }
    .plantHomeDescItems5 {
        display: none;;
    }
    .plantHomeDescItems6 {
        display: none;;
    }

    .cardWavyLineHome{
        display: block;
        position: relative;
    top: -10px;
    left: 60px;
    }
    

    /* //////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////// */

    .headerTextHeading {
        font-size: 57px;
        color: #164C4C;
        font-family: 'Merriweather';
        font-weight: 300;
        font-weight: lighter;
    }
    .searchBarHome {
        margin: auto;
        position: relative;
        width: 321px;
        height: 70px;
        margin-top: 0px;
    }
    /* ////////////////////////////////////////////////////////////////// */
    .accordion_buttonHome {
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 321px;
        padding: 15px;
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        background: #FFFFFF;
        color: #164C4C;
        text-align: center;
        transition: background 0.2s;
        opacity: 0.5;
        font-family: 'Rubik';
        font-weight: 500;
    }

    .accordion_buttonHome::after{
        content: '\25be';
        float: right;
        transform: scale(1.5);
        }
        .accordion_buttonHome--active{
            background:  #FFFFFF;
            opacity: 1;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-left: solid #0d3f3f 0.5px ;
            border-right: solid #0d3f3f 0.5px ;
            border-top: solid #0d3f3f 0.5px ;
        }

        .accordion_buttonHome--active::after{content: '\25b4'}

        .accordion_contentHome{
            overflow: hidden;
            /* height: 100%; */
            transition: max-height 0.2s;
            width: 319px;
            margin: auto;
            background: #FFFFFF;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            opacity: 1;
            border-left: solid #0d3f3f 0.5px;
            border-right: solid #0d3f3f 0.5px;
            /* position: absolute; */
            /* z-index: 100; */
            display: block;
            align-content: center;

        
        }
/* /////////////////////////////////////////////////////////////////////////////////////////////// */




         
.homeHeader{
    background-color: #F1ECEB;
    height: 800px;
    background-image: url(../images/top-banner-BG-Mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
        /* ////////////////////////////////////Footer///////////////////////////////////// */
        .footerFirstDiv{
            display: grid;
           
            align-items: center;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "logo"
            "university"
            "descript"
            "underlin"
            "fspo"
            "fspt";
            
        }

        footer {
            background-color: #164C4C;
            height: 460px;
            position: relative;
            font-family: 'Rubik', sans-serif;
            font-weight: 300;
        }

        .footerLogoDiv {
            grid-area: logo;
            margin-top: 20px;
            margin-left: 0;
             text-align: center;
        }

        .footerUniDiv {
            text-align: center;
            grid-area: university;
            margin-top: 20px;

            margin-left: 0;
        }

        .footerLogo {
            width: 114.39px;
            height: 108.33px;
            /* position: relative;
            right: 3%;
            top: 45px; */
        }
        .footerUni {
            color: white;
            /* justify-content: center;
            width: 241px;
            height: 124px; */
            /* position: relative;
            right: 3%;
            top: 93px; */
        }
        .logoCap {

            grid-area: descript;
            margin-left: 0;
            margin-top: 40px;
            /* position: relative;
            width: 420px;
            top: 106px; */
            color: white;
            /* left: 0%; */
            text-align: center;
        
        }
        .line {
            /* position: relative; */
            height: 0.5px;
            width: 100%;
            background-color: #7D9990;
            /* top: 126px; */
        }
        .footerSecondPone {
            /* position: relative;
            top: 137px;
            left: -2%; */
            color: white;
            text-align: center;
            margin-left: 0;
        }
        .footerSecondPtwo {
            /* position: relative;
            right: 2%;
            top: 146px; */
            color: white;
            text-align: center;
            margin-left: 0;
        }

        /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        .accordion {
            display: flex;
            flex-direction: column;
            align-content: center;
        }

}
@media screen and (max-width: 600px)  {
        
    .chartDiv {
        width: 50%;
        display: flex;
        height: 27%;
        margin-left: 31%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
=======


        .filterSectionOne {
            position: relative;
            padding-top: 60px;
        }

        .filterFirstFlexContainer {
            display: flex;
            left: -50px;
            position: relative;
        }
        .filterUl {
            position: relative;
            font-family: 'Rubik';
            top: 0;
            left: 0;
            display: flex;
            list-style-type: none;
        }

        .filterDiv {
            width: 310px;
            position: relative;
            font-family: 'Rubik';
            top: 0;
            left: 0;
            margin-top: 20px;
            /* margin-right: 30px; */
            
        }
        .filterP {
            margin-left: 26px;
            font-family: 'Rubik';
            font-size: 16px;
            font-weight: bold;
            border: 0;
            color: #0d3f3f;
            width: 130px;
        }


        .filterSectionOne{
            position: relative;
            display: flex;
            padding-top: 60px;
            align-items: center;
            flex-direction: column;
            
        }
        .filterSectionTwo{
            position: relative;
            display: flex;
            padding-top: 30px;
            align-items: center;
            flex-direction: column;
           
        }
        .filterSectionThree{
            position: relative;
            display: flex;
            padding-top: 30px;
            align-items: center;
            flex-direction: column;
           
        }
        .filterSectionFour{
            position: relative;
            display: flex;
            padding-top: 30px;
            align-items: center;
            flex-direction: column;
           
        }
        .filterSectionFive{
            position: relative;
            display: flex;
            padding-top: 30px;
            align-items: center;
            flex-direction: column;
        }
        .filterSectionSix{
            position: relative;
            display: flex;
            padding-top: 30px;
            align-items: center;
            flex-direction: column;
         }

         .clearApply {
            position: relative;
            align-items: center;
            top: 0;
            left: 0;
            margin-top: 30px;
        }

        .blankSpace{
            height: 20px;
        }

        .filterBottomMobileLine{
            border-bottom: solid #164C4C 1.5px;
            width: 300px;
            opacity: 0.5;
            margin-top: 30px;
            display: block;
        }

            a.aboutNav {
                margin-top: 50px;
            }
            
            a.loginNav {
                margin-top: 20px;
            }

            .chartDiv {
                width: 94vw;
                display: flex;
                height: 27%;
                justify-content: center;
                align-items: center;
                align-content: center;
            }


            .accordion {
                display: flex;
                flex-direction: column;
                align-content: center;
            }
    
    
            .filterSectionOne {
                position: relative;
                padding-top: 60px;
            }
    
            .filterFirstFlexContainer {
                display: flex;
                left: -50px;
                position: relative;
            }
            .filterUl {
                position: relative;
                font-family: 'Rubik';
                top: 0;
                left: 0;
                display: flex;
                list-style-type: none;
            }
    
            .filterDiv {
                width: 310px;
                position: relative;
                font-family: 'Rubik';
                top: 0;
                left: 0;
                margin-top: 20px;
                /* margin-right: 30px; */
                
            }
            .filterP {
                margin-left: 26px;
                font-family: 'Rubik';
                font-size: 16px;
                font-weight: bold;
                border: 0;
                color: #0d3f3f;
                width: 130px;
            }
    
    
            .filterSectionOne{
                position: relative;
                display: flex;
                padding-top: 60px;
                align-items: center;
                flex-direction: column;
                
            }
            .filterSectionTwo{
                position: relative;
                display: flex;
                padding-top: 30px;
                align-items: center;
                flex-direction: column;
               
            }
            .filterSectionThree{
                position: relative;
                display: flex;
                padding-top: 30px;
                align-items: center;
                flex-direction: column;
               
            }
            .filterSectionFour{
                position: relative;
                display: flex;
                padding-top: 30px;
                align-items: center;
                flex-direction: column;
               
            }
            .filterSectionFive{
                position: relative;
                display: flex;
                padding-top: 30px;
                align-items: center;
                flex-direction: column;
            }
            .filterSectionSix{
                position: relative;
                display: flex;
                padding-top: 30px;
                align-items: center;
                flex-direction: column;
             }
    
             .clearApply {
                position: relative;
                align-items: center;
                top: 0;
                left: 0;
                margin-top: 30px;
            }
    
            .blankSpace{
                height: 20px;
            }
    
            .filterBottomMobileLine{
                border-bottom: solid #164C4C 1.5px;
                width: 300px;
                opacity: 0.5;
                margin-top: 30px;
                display: block;
            }
    
                a.aboutNav {
                    margin-top: 50px;
                }
                
                a.loginNav {
                    margin-top: 20px;
                }
    
                .chartDiv {
                    width: 94vw;
                    display: flex;
                    height: 27%;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
                /* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                /* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
    
    
                .bg-modal{
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    background-color: rgb(0, 0, 0, 0.7);
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;
                    z-index: 1;
                }
                .modalContent{
                    width: 70vw;
                    height: 70vh;
                    background-color: white;
                    border-radius: 15px;
                }
                
                
                
                /* ///////////////////////////////////////////////////modal inside///////////////////////////////////////////// */
                .modalFourm{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 0.1fr 1fr 0.1fr 1fr 1fr 1fr 1fr;
                    border: 1px solid dark;
                    width: 70vw;
                    height: 70vh;
                    text-align: center;
                }
                .formCloseBtn{
                    font-size: 50px;
                    transform: rotate(45deg);
                    color: #164C4C;
                    margin-left: 80%;
                    appearance: none;
                    background: none;
                    outline: none;
                    font-size: 60px;
                    font-family: 'Rubik';
                    border: none;
                    position: initial;
                }
                .formheading{
                    font-size: 32px;
                    color: #164C4C;
                    font-family: 'Merriweather', serif;
                    position: initial;
                }
                
                .formParagraph{
                    font-size: 16px;
                    font-family: 'Rubik';
                    font-weight: lighter;
                    color: #6B6B6B;
                    position: initial;
                }
                
                .formLabelEmail{
                    font-size: 16px;
                    font-family: 'Rubik';
                    font-weight: lighter;
                    color: #6B6B6B;
                    margin-right: 70%;
                    margin-top: 20px;
                    position: initial;
                }
                
                .formInputEmail{
                    height: 50px;
                    width: 80%;
                    border-radius:  10px;
                    border:solid #EA5A4E 0.5px;
                    margin-left: 10%;
                    position: initial;
                
                }
                
                .formLabelPassword{
                    font-size: 16px;
                    font-family: 'Rubik';
                    font-weight: lighter;
                    color: #6B6B6B;
                    margin-right: 65%;
                    margin-top: 20px;
                    position: initial;
                }
                
                .formInputPassword{
                    height: 50px;
                    width: 80%;
                    border-radius: 10px;
                    border:solid #EA5A4E 0.5px;
                    margin-left: 10%;
                    position: initial;
                
                }
                 
                
                .forgotPasswordModal{
                    font-size: 16px;
                    font-family: 'Rubik';
                    font-weight: lighter;
                    color: #6B6B6B;
                    width: 60%;
                    position: initial;
                }
                
                .formSubmit{
                    text-align: center;
                    color: #EA5A4E;
                    appearance: none;
                    background: none;
                    border: solid #EA5A4E 2px;
                    outline: none;
                    width: 80%;
                    height: 45px;
                    border-radius: 10px;
                    font-size: 13px;
                    font-family: 'Rubik';
                    margin-left: 10%;
                    position: initial;
                
                }
                
                .newFlorensModal{
                    font-size: 16px;
                    font-family: 'Rubik';
                    font-weight: lighter;
                    color: #6B6B6B;
                    position: initial;
                }
                
                p.forgotPassword {
                    position: initial;
                
                }
                
                p.newFlorens {
                
                    position: initial;
                }

}