/* .navBar{
    top: 0px;
left: 0px;
width: 1920px;
height: 131px;
/* UI Properties */
/* background: var(--unnamed-color-f1eceb) 0% 0% no-repeat padding-box;
background: #F1ECEB 0% 0% no-repeat padding-box;
opacity: 1;
} */ 
*{
    margin:0px;
    padding:0px;
}

  /*************** Footer************************************/

/*************** Footer Ends************************************/
/*************** form input fields************************************/
.email-login
{
  
width: 100%;
margin-bottom:20px;
height: 50px;
padding-left:2px;
/* UI Properties */
font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
border: 1px solid var(--unnamed-color-f8c9bb);
border: 1px solid #F8C9BB;
border-radius: 10px;
opacity: 1;
}
/********************************************/
/********************Label form************************/
.LoginPasswordLabel{
    color: #6B6B6B;
    font-family: rubik;
    font-size: 16px;
}
.LoginEmailLabel{
    color: #6B6B6B;
    font-family: rubik;
    font-size: 16px;
}
/********************************************/
/********************Label form Ends************************/
.password-login{
    width: 100%;
    margin-bottom:20px;
    height: 50px;
    padding-left:2px;
    font-family: 'Rubik';
    /* font-weight: lighter; */
    /* color: #6B6B6B; */
    /* UI Properties */
    border: 1px solid var(--unnamed-color-f8c9bb);
    border: 1px solid #F8C9BB;
    border-radius: 10px;
    opacity: 1;
    font-family:'Rubik';
    /* font-size:16px; */
}
/*************** Error message for login ************************************/
.error{
    border: 1px solid;
			margin: 10px 0px;
            
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
            color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
}
/***************Error message for login ends************************************/
/*************** **********************************/
/*************** **********************************/
/*************** Submit button ************************************/
.submit-login{
    width: 100%;
margin-bottom:20px;
height: 50px;
    border: 2px solid #EA5A4E;
    border-radius: 10px;
    top: 658px;
left: 656px;

height: 45px;
/* UI Properties */
border: 2px solid var(--unnamed-color-ea5a4e);
border: 2px solid #EA5A4E;
border-radius: 10px;
opacity: 1;
text-transform: uppercase;
color:#EA5A4E;
background-color:white;
margin-top:3%;
}
/*************** **********************************/
/*************** Button hover************************************/
.submit-login:hover{
    background-color:#EA5A4E;
    color:white;
}
/*************** End of button***********************************/
/*************** text for new florens************************************/
.newFlorens{
    text-align:center;
    color: #6B6B6B;
    font-family: rubik;
    font-size: 16px;
}
/*************** form container************************************/
.form-container{
    margin-left: 22%;
    padding: 4%;
}
/*************** **********************************/
/*************** **********************************/
.form-login h1{
    text-align: center;
    font: normal normal 300 22px/30px Merriweather;
    letter-spacing: 0px;
    color: #164C4C;
    opacity: 1;
}
/*************** **********************************/
/*************** **********************************/

.container-login {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/*************** **********************************/
/*************** Form login**********************************/
.form-login {
    padding: 2rem;
}

form.form-login-border {
    max-width: 700px;
    max-height: 540px;
    border: solid 0.5px #7D9990;
    border-radius: 15px;
}
@media only screen and (max-width: 600px) {
    .form.form-login-border{
    border: none;
    }
}