/* .navBar{
    top: 0px;
left: 0px;
width: 1920px;
height: 131px;
/* UI Properties */
/* background: var(--unnamed-color-f1eceb) 0% 0% no-repeat padding-box;
background: #F1ECEB 0% 0% no-repeat padding-box;
opacity: 1;
} */ 
*{
    margin:0px;
    padding:0px;
}

  /*************** Footer************************************/

/*************** Footer Ends************************************/
/*************** form input fields************************************/
.email-login,.password-login
{
  
width: 100%;
margin-bottom:20px;
height: 50px;
padding-left:2px;
/* UI Properties */
border: 1px solid var(--unnamed-color-f8c9bb);
border: 1px solid #F8C9BB;
border-radius: 10px;
opacity: 1;
}

/*************** Error message for login ************************************/
.error{
    border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
            color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
}
/***************Error message for login ends************************************/
/*************** Submit button ************************************/
.submit-login{
    width: 100%;
margin-bottom:20px;
height: 50px;
    border: 2px solid #EA5A4E;
    border-radius: 10px;
    top: 658px;
left: 656px;

height: 45px;
/* UI Properties */
border: 2px solid var(--unnamed-color-ea5a4e);
border: 2px solid #EA5A4E;
border-radius: 10px;
opacity: 1;
background-color:white;
margin-top:3%;
}
/*************** text for new florens************************************/
.newFlorens{
    text-align:center;
}
/*************** form container************************************/
.form-container{
    margin-left: 22%;
    padding: 4%;
}
.form-login h1{
    text-align: center;
    font: normal normal 300 22px/30px Merriweather;
    letter-spacing: 0px;
    color: #164C4C;
    opacity: 1;
}
