body{
    margin: 0;
}


.secondSectionPlantProfile {
    margin-top: 100px;
    margin-bottom: 100px;
}

.secondSectionCardPlantProfile {
    margin: auto;
    height: 880px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "SIPP SIPP SIPP SIPP"
    "SSI1 SSI2 SSI3 SSI4"
    "PIPH PIPH PIPH PIPH"
    "ST ST ST ST"
    "PD PD PD PD"
    "PDI1 PDI1 PDI2 PDI2"
    "PDI3 PDI3 PDI4 PDI4"
    "PDI5 PDI5 PDI6 PDI6"
    "LS LS LS LS";
}

.secondSecImgPlantProfile {
    grid-area: SIPP;
    margin-bottom: 20px;
    text-align: center;
}
.secondSecImge {
    grid-area: SSI1;
    text-align: center;
}
.secondSecImges {
    grid-area: SSI2;
    text-align: center;
}
.secondSecImga {
    grid-area: SSI3;
    text-align: center;
}
.secondSecImgas {
    grid-area: SSI4;
    text-align: center;
}
.plantProfileTypesContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 60px;

}
.secondSecImgPlantProfile img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 340px;
    width: 100vw;
    border-radius: 0;

}





.secondSecImge img {
  
    width: 80px;
    height: 80px;
    border-radius: 10px;
 
}

.secondSecImges img {
   
    width: 80px;
    height: 80px;
    border-radius: 10px;
    
}

.secondSecImga img {
    
    width: 80px;
    height: 80px;
    border-radius: 10px;
    
}
.secondSecImgas img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.plantInfoPlantHeading{
    position: relative;
    color: #164C4C;
    font-family: 'Alegreya';
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 40px;
    margin-top: 40px;
    grid-area: PIPH;
    margin-left: 10%;
}
.subTag{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-bottom: 20px;
    grid-area: ST;
    margin-left: 10%;

}
.plantDescp{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 300px;
    margin-bottom: 50px;
    grid-area: PD;
    margin-left: 10%;
}

.plantDescItems1{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    grid-area: PDI1;
    margin-left: 20%;
    margin-bottom: 20px;
  
}
.plantDescItems2{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    grid-area: PDI2;
    margin-bottom: 20px;
  
}
.plantDescItems3{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    grid-area: PDI3;
    margin-left: 20%;
    margin-bottom: 20px;

}
.plantDescItems4{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    grid-area: PDI4;
    margin-bottom: 20px;
   
}
.plantDescItems5{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    grid-area: PDI5;
    margin-left: 20%;
    margin-bottom: 20px;
    
}
.plantDescItems6{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    grid-area: PDI6;
    margin-bottom: 20px;

}

.plantDescItemsHeading{
    margin-bottom: 10px;  
    font-size: 16px;
    color: #164C4C;
    font-weight: bold;
}

h3{
    font-size: 28px;
    margin-top: 0px;
}
.lineSec{
    position: relative;
    height: 1px;
    background-color: #6B6B6B;
    grid-area: LS;
}

.contributer{
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 45px;
    top: 20px;
    left: 30%;

}
.contribution{
    position: relative;
    height: 20px;
    border-radius: 45px;
    top: 2px;
    left: 35%;
    width: 300px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.editBtn{
    position: relative;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 223px;
    height: 45px;
    top: 15px;
    left: 3%;
    font-size: 18px;
    font-family: 'Rubik';
}
.deletBtn{
    position: relative;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 100px;
    height: 45px;
    top: -30px;
    left: 70%;
    font-size: 18px;
    font-family: 'Rubik';
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media(min-width:600px){
/* ////////////////////////////////Plant detail section//////////////////////// */

.secondSection{
    margin-top: 100px;
}
.secondSectionCard{
    display: flex;
    justify-content: center;
}
.secondSectionPlantProfile{
    margin-top: 170px;
    margin-bottom: 100px;
}


.secondSecImgPlantProfile img{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 490px;
    height: 434px;
    border-radius: 10px;
}
.secondSecImge img{
    position: absolute;
    top: 510px;
    left: 50px;
    width: 101px;
    height: 99px;
    border-radius: 10px;

}
.secondSecImges img{
    position: absolute;
    top: 510px;
    left: 190px;
    width: 101px;
    height: 99px;
    border-radius: 10px;
    
}
.secondSecImga img{
    position: absolute;
    top: 510px;
    left: 330px;
    width: 101px;
    height: 99px;
    border-radius: 10px;
    
}
.secondSecImgas img{
    position: absolute;
    top: 510px;
    left: 470px;
    width: 101px;
    height: 99px;
    border-radius: 10px;
    
}

.secondSectionCardPlantProfile{
    margin: auto;
    height: 390px;
    width: 1280px;
    height: 638px;
    position: relative;
    border-radius: 15px;
    border: solid 1.5px #7E9990;
    display: flex;
    flex-direction: column;
}

 
.plantInfoPlantHeading{
    position: absolute;
    top: 80px;
    left: 650px;
    color: #164C4C;
    font-family: 'Alegreya';
    font-size: 28px;
    font-weight: 200;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.subTag{
    position: absolute;
    top: 160px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.plantDescp{
    position: absolute;
    top: 210px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 600px;

}

.plantDescItems1{
    position: absolute;
    top: 300px;
    left: 395px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems2{
    position: absolute;
    top: 300px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems3{
    position: absolute;
    top: 370px;
    left: 395px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems4{
    position: absolute;
    top: 370px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems5{
    position: absolute;
    top: 440px;
    left: 395px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems6{
    position: absolute;
    top: 440px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.plantDescItemsHeading{
    margin-bottom: 10px;  
    font-size: 16px;
    color: #164C4C;
    font-weight: bold;
}

h3{
    font-size: 28px;
    margin-top: 0px;
}
.lineSec{
    position: absolute;
    height: 1px;
    width: 600px;
    background-color: #6B6B6B;
    top: 500px;
    left: 650px;
}

.contributer{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 530px;
    left: 660px;
    border-radius: 45px;

}
.contribution{
    position: absolute;
    top: 530px;
    left: 690px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;

}
.editBtn{
    position: absolute;
    top: 515px;
    left: 990px;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 223px;
    height: 45px;
    font-size: 13px;
    font-family: 'Rubik';
}
.deletBtn{
    position: absolute;
    top: 515px;
    left: 1150px;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 13px;
    font-family: 'Rubik';
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
}

