body{
    margin: 0;
}


.secondSectionPlantProfile {
    margin-top: 100px;
    margin-bottom: 100px;
}

.secondSectionCardPlantProfile {
    margin: auto;
    height: 880px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.plantProfileTypesContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 60px;

}
.secondSecImgPlantProfile img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 340px;
    width: 97vw;
    border-radius: 0;

}

.addImagesDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}



.secondSecImge img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-left: 0px;
}

.secondSecImges img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-left: 50px;
}

.secondSecImga img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-left: 50px;
}
.secondSecImgas img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 20px;
}



.plantInfoPlant{
    position: relative;
    display: flex;
    flex-direction: column;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.plantInfoPlantHeading{
    position: relative;
    color: #164C4C;
    font-family: 'Alegreya';
    font-size: 28px;
    font-weight: 200;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.subTag{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-left: 30px;
    margin-bottom: 20px;

}
.plantDescp{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 450px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.plantDescItems1{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 250px;
}
.plantDescItems2{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 250px;
}
.plantDescItems3{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 250px;
}
.plantDescItems4{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 250px;
}
.plantDescItems5{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 250px;
}
.plantDescItems6{
    position: relative;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 250px;
}

.plantDescItemsHeading{
    margin-bottom: 10px;  
    font-size: 16px;
    color: #164C4C;
    font-weight: bold;
}

h3{
    font-size: 28px;
    margin-top: 0px;
}
.lineSec{
    position: relative;
    height: 1px;
    background-color: #6B6B6B;
}

.contributer{
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 45px;
    top: 20px;
    left: 30%;

}
.contribution{
    position: relative;
    height: 20px;
    border-radius: 45px;
    top: 2px;
    left: 35%;
    width: 300px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.editBtn{
    position: relative;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 223px;
    height: 45px;
    top: 15px;
    left: 3%;
    font-size: 18px;
    font-family: 'Rubik';
}
.deletBtn{
    position: relative;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 100px;
    height: 45px;
    top: -30px;
    left: 70%;
    font-size: 18px;
    font-family: 'Rubik';
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media(min-width:600px){
/* ////////////////////////////////Plant detail section//////////////////////// */

.secondSection{
    margin-top: 100px;
}
.secondSectionCard{
    display: flex;
    justify-content: center;
}
.secondSectionPlantProfile{
    margin-top: 170px;
    margin-bottom: 100px;
}


.secondSecImgPlantProfile img{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 490px;
    height: 434px;
    border-radius: 10px;
}
.secondSecImge img{
    position: absolute;
    top: 490px;
    left: 40px;
    width: 101px;
    height: 99px;
    border-radius: 10px;

}
.secondSecImges img{
    position: absolute;
    top: 490px;
    left: 140px;
    width: 101px;
    height: 99px;
    border-radius: 10px;
    
}
.secondSecImga img{
    position: absolute;
    top: 490px;
    left: 290px;
    width: 101px;
    height: 99px;
    border-radius: 10px;
    
}
.secondSecImgas img{
    position: absolute;
    top: 490px;
    left: 440px;
    width: 101px;
    height: 99px;
    border-radius: 10px;
    
}

.secondSectionCardPlantProfile{
    margin: auto;
    height: 390px;
    width: 1280px;
    height: 638px;
    position: relative;
    border-radius: 15px;
    border: solid 1.5px #7E9990;
}

 
.plantInfoPlantHeading{
    position: absolute;
    top: 30px;
    left: 650px;
    color: #164C4C;
    font-family: 'Alegreya';
    font-size: 28px;
    font-weight: 200;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.subTag{
    position: absolute;
    top: 100px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.plantDescp{
    position: absolute;
    top: 150px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;

}

.plantDescItems1{
    position: absolute;
    top: 245px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems2{
    position: absolute;
    top: 245px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems3{
    position: absolute;
    top: 315px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems4{
    position: absolute;
    top: 315px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems5{
    position: absolute;
    top: 390px;
    left: 650px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}
.plantDescItems6{
    position: absolute;
    top: 390px;
    left: 900px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
}

.plantDescItemsHeading{
    margin-bottom: 10px;  
    font-size: 16px;
    color: #164C4C;
    font-weight: bold;
}

h3{
    font-size: 28px;
    margin-top: 0px;
}
.lineSec{
    position: absolute;
    height: 1px;
    width: 600px;
    background-color: #6B6B6B;
    top: 500px;
    left: 650px;
}

.contributer{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 530px;
    left: 660px;
    border-radius: 45px;

}
.contribution{
    position: absolute;
    top: 530px;
    left: 690px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;

}
.editBtn{
    position: absolute;
    top: 515px;
    left: 990px;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 223px;
    height: 45px;
    font-size: 13px;
    font-family: 'Rubik';
}
.deletBtn{
    position: absolute;
    top: 515px;
    left: 1150px;
    color: #164C4C;
    appearance: none;
    background: none;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 13px;
    font-family: 'Rubik';
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
}

