
body{
  padding:0px;
  margin:0px;
}
.container-signup{
  border: 1px solid #C6D3CF;
}
/*************** file upload section************************************/
  .fileBorder{
    border: 1px dashed #F8C9BB;
    height: 76px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
   
  }
  /*************** default image************************************/
  .defaultSignUpImg{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .displayPic{
border-radius:10px;
width:150px;
border:solid white;
object-fit: cover;
height:100px;
  }
  /*************** error message************************************/
  .signup-error{
    border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
            color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');

  }
  .defaultImage,.uploadedImage{
    border-radius:10px;
    object-fit: cover;
    
  }
  /*************** file section************************************/
 .uploadFileSection{
    display: flex;
    justify-content: center;
    border: 2px dashed #FBE5DE;
    padding: 22px;
    margin-top: 8px;
    border-radius: 9px;
    margin-bottom:9px;
  }
  /*************** Required field sign************************************/
  .required:after{
    content:"*";
    font-weight:bold;
    color:red;
    margin-left:5px;
  }
  a{
    color: #6B6B6B;
    text-decoration: none;
  }
  
  /* label:after { content:"*"; } */
  /*************** Upload File section ************************************/
  .uploadFile{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #7D9990;
    color: #7D9990;
    font-size: 14px;
    padding: 9px 60px;
    /* text-align: center; */
    width: 213px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    /* margin: 0px; */
    /* margin-left: 205px; */
    /* background-color: white; */
    /* height: 45px; */
    /* width: 213px; */
    /* margin-bottom: 15px; */
    /* margin-top: 3%; */
    /* display: inline-block; */
    /* border: 1px solid #F7C9BB; */
    /* border-radius: 4px; */
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
   
  }
  /*************** submit button************************************/
 .submit-signup {
    width: 100%;
    color: crimson;
    background-color: white;
    border:2px solid crimson;
    border-radius:12px;
    padding: 14px 20px;
    margin-top: 25px;
    margin-bottom:20px

}
.container-signup h1{
  text-align: center;
  margin-bottom: 17px;
    }
body{
  margin: 0px;
}
.form-div-signup{
  border: 1px solid #F7C9BB;
  padding: 3%;
}
.space{
  margin: 3rem;
}
/*************** form************************************/
.form-signup h1{
  color:#1C4C4D;
  font: normal normal 300 22px/30px Merriweather;
}
.form-signup p{
    text-align:center;
}
/*************** form fields************************************/
.email-signup,.password-signup,.text-signup{
  width: 100%;
height:45px;
width:100%;
  margin-bottom: 25px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #F7C9BB;
  border-radius: 4px;
  box-sizing: border-box;
}


.form-signup{
  font-family: 'Rubik';
  font-weight: lighter;
  color: #6B6B6B;
  width: 80%;

  
  /* height: 50vh; */
  padding: 5%;
}
.form-signup h1{
    color:#1C4C4D
  }
  .form-signup p{
      text-align:center;
  }
  /*************** form fields************************************/
  .email-signup,.password-signup,.text-signup{
    width: 100%;
  height:45px;
  width:100%;
  padding-left:2px ;
    margin-bottom: 15px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #F7C9BB;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .file-signup{
   
    display:none;
    
  }
  .form-div-signup{
    border: 1px solid #F7C9BB;
    padding: 3%;
  }
  .space{
    margin: 3rem;
  }
  .form-signup{
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 80%;
    
    /* height: 50vh; */
    padding: 5%;
  }
  .form-signup{
    
    margin-left: 26%;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: 50%;
    padding:15px;

  margin-left: 26%;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  height: 50%;
  padding:15px;


}

/*************** footer ends************************************/

  

  