/* .navBar{
    top: 0px;
left: 0px;
width: 1920px;
height: 131px;
/* UI Properties */
/* background: var(--unnamed-color-f1eceb) 0% 0% no-repeat padding-box;
background: #F1ECEB 0% 0% no-repeat padding-box;
opacity: 1;
} */ 
*{
    margin:0px;
    padding:0px;
}
.navBar{
    position: relative;
    background-color: #F1ECEB;
  }
  .headerLogo{
    margin-left: 40px;
    width: 92px;
    height: 87px;
}
.aboutNav{
    position: absolute;
    top: 40%;
    right: 8%;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
}
.loginNav {
    position: absolute;
    top: 40%;
    right: 3%;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
  }
  footer{
    background-color: #164C4C;
    height: 260px;
    position: relative;
   
    
}
.footerFirstDiv{
    height: 267.11px;
}
.footerLogo{
    width: 114.39px;
    height: 108.33px;
    position: absolute;
    right:87%;
    top: 45px;
}
.footerUni{
    color: white;
    justify-content: center;
    width: 241px;
    height: 124px;
    position: absolute;
    right:3%;
    top: 39px;
}
.footerUni p{
    text-align: center;
    }
    
    .footerUniLogo{
        position: relative;
        right: -20px;
    }
    .footerSecondPone{
        position: absolute;
        right:85%;
        top: 215px;
        color: white;
    
    }
    .footerSecondPtwo{
        position: absolute;
       
        right:4%;
        top: 215px;
        color: white;
    }
    .line{
        position: absolute;
        height: 0.5px;
        width: 100%;
        background-color: #7D9990;
        top: 215px;
    }
    .logoCap{
        position: absolute;
        width: fit-content;
        right:56%;
        top: 170px;
        color: white;
    }
form{
    top: 236px;
    left: 610px;
    width: 650px;
    height: 400px;
    border: 1px solid var(--unnamed-color-7d9990);
    border: 1px solid #7D9990;
    border-radius: 10px;
    opacity: 1;
    padding:2%;
}
input[type="email"],input[type="password"]
{
  
width: 100%;
margin-bottom:20px;
height: 50px;
/* UI Properties */
border: 1px solid var(--unnamed-color-f8c9bb);
border: 1px solid #F8C9BB;
border-radius: 10px;
opacity: 1;
}
input[type="submit"]{
    width: 100%;
margin-bottom:20px;
height: 50px;
    border: 2px solid #EA5A4E;
    border-radius: 10px;
    top: 658px;
left: 656px;

height: 45px;
/* UI Properties */
border: 2px solid var(--unnamed-color-ea5a4e);
border: 2px solid #EA5A4E;
border-radius: 10px;
opacity: 1;
background-color:white;
margin-top:9%;
}
.newFlorens{
    text-align:center;
}
.form-container{
    margin-left: 22%;
    padding: 4%;
}
h1{
    text-align: center;
    font: normal normal 300 22px/30px Merriweather;
    letter-spacing: 0px;
    color: #164C4C;
    opacity: 1;
}