body{
    margin: 0px;
    padding:0px;
}
.container{
    border: 1px solid #C6D3CF;
    background-color:white;
/*   
display:flex;
align-items: center;
justify-content: center;
align-content: center; */
 
    padding: 16px;
}
  
  .uploadFile{
    background-color: indigo;
    color: #7D9990;
    padding: 10px 12px;
    border-radius: 8px  ;
  border:1.7px solid #7D9990;
  border-radius: 0.3rem;
  cursor: pointer;
  
    /* cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 8px  ;
  border:1.7px solid #7D9990;
    color: #7D9990;
    font-size: 14px;
    padding: 10px 12px;
    background-color: white; */
   
  }
  .uploadFileSection{
    display: flex;
    justify-content: center;
    border: 2px dashed #FBE5DE;
    padding: 22px;
    margin-top: 8px;
    border-radius: 9px;
    margin-bottom:9px;
  }
  
  input[type="submit"] {
    width: 100%;
    color: crimson;
    background-color: white;
    border:2px solid crimson;
    border-radius:12px;
    padding: 14px 20px;
    margin-top: 15px;
    margin-bottom:20px
  
  }
  .container h1{
    text-align: center;
    margin-bottom: 24px;
    margin-top:0.3rem;
    
  }
  .form h1{
    color:#1C4C4D
  }
.newFlorens{      text-align:center;
  }
  .forgotPassword{
    text-align:left;
  }
  input[type=email],input[type=password],input[type=text]{
   max-width:99%;
    padding: 10px 17rem;
    /* margin-bottom: 25px; */
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #F7C9BB;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=file]{
   
    display:none;
    
  }
  .space{
    margin: 2.2rem;
  }
  .form{
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    width: 80%;
    
    
  }
  form{
    display: flex;
    margin-left: 3%;
    align-items: center;
    justify-content: center;
    margin-left: 23%;
    border: 1px solid rgb(198, 211, 207);
   max-width: 50%;
  }
  .navBar{
    position: relative;
    background-color: #F1ECEB;
   
  }
  .headerLogo{
    margin-left: 40px;
    width: 92px;
    height: 87px;
}
.aboutNav{
    position: absolute;
    top: 40%;
    right: 8%;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
}
.loginNav {
    position: absolute;
    top: 40%;
    right: 3%;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #6B6B6B;
    text-decoration: none;
  }
    
     
    
    footer{
        background-color: #164C4C;
        height: 260px;
        position: relative;
       
        
    }
    
    .footerFirstDiv{
        height: 267.11px;
    }
    .footerLogo{
        width: 114.39px;
        height: 108.33px;
        position: absolute;
        right:87%;
        top: 45px;
    }
    .footerUni{
        color: white;
        justify-content: center;
        width: 241px;
        height: 124px;
        position: absolute;
        right:3%;
        top: 39px;
    }
    
    .footerUni p{
    text-align: center;
    }
    
    .footerUniLogo{
        position: relative;
        right: -20px;
    }
    /* .footerSecondDiv{
        position: relative;
    } */
    .footerSecondPone{
        position: absolute;
        right:85%;
        top: 215px;
        color: white;
    
    }
    .footerSecondPtwo{
        position: absolute;
       
        right:4%;
        top: 215px;
        color: white;
    }
    .line{
        position: absolute;
        height: 0.5px;
        width: 100%;
        background-color: #7D9990;
        top: 215px;
    }
    .logoCap{
        position: absolute;
        width: fit-content;
        right:56%;
        top: 170px;
        color: white;
    }